
.app-container{
  color:white;
  text-shadow:4px 4px 8px crimson;
  text-align: center;
  background-image: url('https://static1.bigstockphoto.com/4/7/2/large1500/274663699.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.app-text{
  color:white;
  text-shadow: 2px 2px 4px black;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 10s infinite;
  }
}

.App-header {
  background-color: #b02025;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}



.App-link {
  color: #61dafb;
}

.btn-5xl {
  color:#fec526;
  padding: 10px 20px;
  font-size: 40px;
  border-radius: 10px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

